<!doctype html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="theme-color" content="#3e454c">

        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="/static/js/bootstrap.min.js">
        <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">

        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap-select.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/jquery.dataTables.min.js"></script>
        <script src="/static/js/dataTables.bootstrap.min.js"></script>
        <script src="/static/js/Chart.min.js"></script>
        <script src="/static/js/fileinput.js"></script>
        <script src="/static/js/chartData.js"></script>
        <script src="/static/js/main.js"></script>
        <title>My GPU Application</title>
        <style>
        .row {
    border: 1px solid black;
    overflow: hidden;
    padding: 5px;
}

.col {

    float: left;
    padding: 5px;

}
            body{
                 font-family: "Times New Roman", Times, serif;
                 background-color: white;
            }
            #wlc{
                //border: 1px solid red;
                margin-top:100px;
                width:550px;
                align:center;
                margin-left:250px;
                 box-shadow: 5px 5px 20px 5px white;
                 padding:10px;
            }
            a{color:blue;}
            #EditButton{color:blue;}
        </style>

    </head>
    <body>
        <div >
            {% if user %}

                <div class="content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div>

                            <h2 class="page-title"><p align="center">Listing reports</p></h2>
                            <!-- Zero Configuration Table -->
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <form action="/compare" method="post">
                                  {% if gpu_data %}
                                    <table id="zctb" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Device
                                                </th>
                                                <th>
                                                    Manufacturer
                                                </th>
                                                <th>
                                                    Date Issued
                                                </th>
                                                 <th>


                                                     <div><input type="submit" value="Compare"></div>
                                                </th>
                                                <th>
                                                    Action
                                                </th>
                                            </tr>
                                        </thead>

                        <tbody>



                        {% for gpu_all_data in gpu_data %}
                        <tr>

                          <td>
                              <a href="/features/{{gpu_all_data.name}}">{{gpu_all_data.name}}</a>
                          </td>
                          <td>
                             {{gpu_all_data.manufacturer}}
                          </td>
                          <td>
                             {{gpu_all_data.dateIssue}}
                          </td>

                            <td>


                                                <div class='checkbox checkbox-warning'>
                                                        <input id='checkbox3' type='checkbox' name='compare' value={{gpu_all_data.name}}>
                                                        <label for='checkbox3'>
                                                        </label>
                                                    </div>


                                            </td>
                            <td>
                                <button type='button'  onclick="window.location.href='/delete/{{gpu_all_data.name}}'" class='btn btn-danger btn-circle' id='delect'  data-toggle='tooltip'  title='Delete' >
                                           <i class='fa fa-trash-o'>
                                           </i></button>
                            </td>
                        </tr>
                        {% endfor %}
                      {% endif %}
                    </tbody>
                                    </table>
                                      </form>
                                    <br/>
                                    <div >
                                      <h2><a href="/edit"><p id="EditButton" align="left"  margin-left: 2000px>Add GPU Device</p></a></h2>
                                    </div>




                                    <div class="row">
                                    <div class="container" align="left">
                                    <label class="checkbox-inline">

                                    <div class="table-responsive">
                                        <form method="post" action="/select">
                                          <div class='checkbox checkbox-warning'>


                                            <label class="checkbox-inline">

                                              <div class="col"><input  type='checkbox' name='geometry_shader' value=True default=False>
                                              <label for='checkbox3'>geometry_shader
                                              </label>
                                            </label></div>
                                          </div>

                                          <div class='checkbox checkbox-warning'>
                                            <label class="checkbox-inline">
                                            <div class="col">  <input  type='checkbox' name='tesselation_shader' value=True  default=False>
                                              <label for='checkbox3'>tesselation_shader
                                              </label>
                                            </label></div>
                                          </div>

                                          <div class='checkbox checkbox-warning'>
                                          <label class="checkbox-inline">
                                              <div class="col"><input  type='checkbox' name='shader_int16'  default=False value=True>
                                              <label for='checkbox3'>shader_int16
                                              </label>
                                            </label></div>
                                          </div>



                                          <div class='checkbox checkbox-warning'>
                                            <label class="checkbox-inline">
                                              <div class="col"><input  type='checkbox' name='sparse_binding' default=False value=True>
                                              <label for='checkbox3'>sparse_binding
                                              </label>
                                            </label></div>
                                          </div>

                                          <div class='checkbox checkbox-warning'>
                                            <label class="checkbox-inline">
                                            <div class="col">  <input  type='checkbox' name='texture_compressionetc2' default=False value=True>
                                              <label for='checkbox3'>texture_compressionetc2
                                              </label>
                                            </label></div>
                                          </div>

                                          <div class='checkbox checkbox-warning'>
                                            <label class="checkbox-inline">
                                              <div class="col"><input id='checkbox3'  type='checkbox' name='vertex_pipeline_stores_and_atomics' default=False value=True>
                                              <label for='checkbox3'> vertex_pipeline_stores_and_atomics
                                              </label>
                                            </label></div>
                                          </div>

                                          <input type="submit"  id="btn_click" />
                                        </form>

                                    </div>
                                    <br>
                                    <div align="center">
                                        <b><p align="center">Kindly  {{ logout_string }} <a href='{{ url }}'>here</a> </p> </b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div id="wlc">
            <font size="7"
            <p align="center">
                Graphics Processing Unit Datastore </p></font>

                <div align="center"><p class="one" align="center"><b>Kindly {{ url_string }} <a href='{{ url }}'>click here </a>to login to our database</b></p></div>

            {% endif %}
            </div>
        </div>
    </body>
</html>
